{% extends "georgeforge/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block details %}
    <form class="m-3"
          method="post"
          id="order-form"
          action="{% url 'georgeforge:bulk_import_form' %}">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'georgeforge/css/bulk_import_form.css' %}"
          type="text/css"
          media="screen" />
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
