{% extends "georgeforge/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block details %}
    <ul class="list-group">
        {% for entry in for_sale %}
            <li class="list-group-item d-flex flex-row align-items-center justify-content-start">
                <div class="d-flex flex-column">
                    <div>
                        <span>
                            <img height="64"
                                 width="64"
                                 src="{{ entry.eve_type.render_url }}"
                                 alt="{% translate "Ship Image" %}" />
                        </span>
                        <span>{{ entry.eve_type.name }}</span>
                        <span> - </span>
                        <span>{{ entry.price|intcomma }} ISK</span>
                    </div>
                    <div>
                        <span>{{ entry.description|safe }}</span>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="d-flex flex-column align-items-center">
                    <a class="btn btn-primary" href="{% url 'georgeforge:order' entry.id %}">Order</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'georgeforge/css/store.css' %}"
          type="text/css"
          media="screen" />
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
